# 注意：項目默認佔用3000端口。如果你希望指定端口？
# 請加啟動參數 `next dev -p 4000 / next start -p 4000`

# DATABASE_URL="file:./prisma/utube.db"
DATABASE_URL="file:./prisma/數據庫名.db"
JWT_SECRET="配置你的JWT密鑰，隨意你想配置成什麼"

INVITE_CODES="註冊時的邀請碼，可以配置多個，用逗號分隔(只有配置了邀請碼時，才可以註冊)"

ADMIN_USER_IDS="【郵箱/ID 選一】管理員的用戶ID(User.id(自動生成，需要先註冊帳號))，可以配置多個，用逗號分隔"
ADMIN_EMAILS="【ID/郵箱 選一】管理員的郵箱(User.email，需要先註冊帳號)，可以配置多個，用逗號分隔"